#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: darkolivegreen;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}
button:hover {
  border-color: yellow;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

label {
  grid-column: 1 / 2;
}

input[type="text"],
input[type="date"] {
  grid-column: 2 / 3;
  width: 100%;
}

button[type="submit"] {
  grid-column: 2 / 3;
  justify-self: end;
}

.delete-button {
  background-color: red;
}

.task-card {
  border: 1px solid;
  padding: 1em;
  background-color: darkolivegreen;
  margin: 1em;
}

.card-title {
  font-weight: bold;
  font-size: 2em;
}

.task-card p {
  margin: 0.5em;
  text-align: left;
}